* {
      box-sizing: border-box;
    }

    body {
      font-family: Arial, sans-serif;
      background: #f0f2f5;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      margin: 0;
      padding: 10px;
    }

    .login-container {
      background-color: #fff;
      padding: 30px 40px;
      border-radius: 10px;
      box-shadow: 0 5px 100px  rgba(255, 0, 25, 0.29);
      width: 100%;
      max-width: 400px;
      border:0.3px solid #0b16ac;
    }

    .login-container h2 {
      text-align: center;
      margin-bottom: 25px;
      color: #ff0000;
    
    }

    .form-group {
      margin-bottom: 20px;
    }

    .form-group label {
      display: block;
      margin-bottom: 8px;
      color: #555;
    }

    .form-group input {
      width: 100%;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
      outline: none;
    }

    .form-group input:focus {
      border-color: #007bff;
    }

    .forgot-password {
      display: block;
      text-align: right;
      margin-bottom: 20px;
      font-size: 0.9em;
    }

    .forgot-password a {
      color: #007bff;
      text-decoration: none;
    }

    .forgot-password a:hover {
      text-decoration: underline;
    }

    .login-btn {
      width: 100%;
      padding: 10px;
      background-color: #55ff00;
      color: #000000;
      font-size: 1em;
      border: #ff0b8d;
      text-align: center;
      border-radius: 100px;
      cursor: pointer;
    }


    .login-btn:hover {
      background-color: #f00654;
    }

    .register-link {
      text-align: center;
      margin-top: 20px;
      font-size: 0.9em;
    }

    .register-link a {
      color: #007bff;
      text-decoration: none;
    }

    .register-link a:hover {
      text-decoration: underline;
    }